{{- if and (strings.HasPrefix .Destination "http") (not (in .PlainText "[noExternalIcon]")) -}}
<span class="external-link-wrapper">
{{- end -}}
<a href="{{ .Destination | safeURL }}"{{ with .Title}} title="{{ . }}"{{ end }}{{ if strings.HasPrefix .Destination "http" }} target="_blank" rel="nofollow noopener noreferrer"{{ end }} class="external-link">
 {{- if (in .PlainText "[noExternalIcon]") -}}
 {{- .Text | replaceRE "\\[noExternalIcon\\]" "" | safeHTML -}}
 {{- else -}}
 {{- .Text | replaceRE "\\[noSpace\\]" "" | safeHTML -}}
 {{- end -}}
</a>
{{- if and (strings.HasPrefix .Destination "http") (not (in .PlainText "[noExternalIcon]")) -}}
<span class="external-link-icon{{ if in .PlainText "[noSpace]" }} no-space{{ end }}">↗</span>
</span>
{{- end -}}