{{ if .IsPage }}
{{ if eq .Type "post" }}

{{ $imgData := imageConfig "static/img/logo.png" }}

    <script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "BlogPosting",
        "articleSection" : "{{ .Section }}",
        "name" : "{{ .Title | htmlUnescape }}",
        "headline" : "{{ .Title | htmlUnescape}}",
        "description" : "{{ if .Description }}{{ .Description | htmlUnescape }}{{ else }}{{if .IsPage}}{{ .Summary | htmlUnescape }}{{ end }}{{ end }}",
        "inLanguage" : "en-US",
        "author" : "{{ .Params.author | htmlUnescape}}",
        "creator" : "{{ .Params.author | htmlUnescape}}",
        "accountablePerson" : "{{ .Params.author | htmlUnescape }}",
        "copyrightHolder" : "{{ .Params.author | htmlUnescape }}",
        "copyrightYear" : "{{ .Date.Format "2006" }}",
        "datePublished": "{{ .PublishDate.Format $.Site.Params.ISO8601 }}",
        "dateModified" : "{{ .Date.Format $.Site.Params.ISO8601 }}",
        "url" : "{{ .Permalink }}",
        "wordCount" : "{{ .WordCount }}",
        "image" : "{{ .Params.image | absURL}}",
        "keywords" : [ {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} ],
		"publisher": {
			"@type": "Organization",
			"name": "{{ .Site.Params.title }}",
			"url": "{{ .Site.BaseURL }}",
			"logo": {
				"@type": "ImageObject",
				"url": "{{ .Site.Params.logo | absURL}}",
				"width":"{{ $imgData.Width }}",
				"height":"{{ $imgData.Height }}"
			}
		},
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Site.BaseURL }}"
         }
    }
    </script>
{{ end }}
{{ end }}