
 .entry-cover ~ .entry-item {
     display: block;
     width: 100%;
 }

 @media screen {
     .entry-cover.entry-cover-thumbnail {
         display: block;
         width: 100%;
     }
 }

 @media screen and (min-width: 768px) {
     .entry-cover.entry-cover-thumbnail {
         display: inline-block;
         margin-right: .6em;
         margin-top: 1.3em;
         vertical-align: middle;
         width: 25%;
     }

     .entry-cover.entry-cover-thumbnail ~ .entry-item {
         display: inline-block;
         vertical-align: top;
         width: 70%;
     }
 }

  @media screen and (max-width: 768px) {
     .entry-cover.entry-cover-thumbnail {
         display: inline-block;
         margin-right: .6em;
         margin-top: 1.3em;
         vertical-align: middle;
         width: 10%;
     }

     .entry-cover.entry-cover-thumbnail ~ .entry-item {
         display: inline-block;
         vertical-align: top;
         width: 85%;
     }
 }