.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  align-items: stretch;
  }

.grid img {
  border: 1px solid var(--theme);
  max-width: 100%;
}