.nav-cover {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 10px; /* Add padding around the cover image */
  }
  
  .nav-cover img.cover-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
  }