:root {
    --terminal-bg: #1C1D21;
}

.dark {
    --terminal-bg: #2E2E33;
}

.terminal {
    border-radius: 5px 5px 5px 5px;
    position: relative;
}
.terminal .top {
    background: var(--code-bg);
    color: var(--secondary);
    padding: 5px;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
}
.terminal .btns {
    position: absolute;
    top: 7px;
    left: 5px;
}
.terminal .circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 15px;
    margin-left: 2px;
    border-width: 1px;
    border-style: solid;
}
.title{
    text-align: center;
}
.red { background: #EC6A5F; border-color: #D04E42; }
.green { background: #64CC57; border-color: #4EA73B; }
.yellow{ background: #F5C04F; border-color: #D6A13D; }
.clear{clear: both;}
.terminal .terminalbody {
    background: var(--terminal-bg);
    overflow: auto;
}

.shadow { box-shadow: 0px 0px 10px rgba(0,0,0,.4)}