.grid {
  display: grid;
  align-items: stretch;
}

.grid.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid img {
  border: 1px solid var(--theme);
  max-width: 100%;
  margin-right: 5px;
  margin-bottom: 5px;
}

.grid img:nth-child(2n) {
  margin-right: 0;
}

.grid.grid-3 img:nth-child(3n) {
  margin-right: 0;
}

.grid.grid-4 img:nth-child(4n) {
  margin-right: 0;
}
