<article class="post-full post page no-image"> 
  <header class="post-full-header">
      <h1 class="post-full-title">{{.Title | title}}</h1>
    </header>

  <section class="post-full-content">
      <div class="kg-card-markdown">
        <p>
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms.Alphabetical }}
        <a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}/"> {{ $value.Name | humanize }} </a> ({{ $value.Count }})&nbsp;&#x2F;&nbsp;
        {{ end }}
        </p>
      </div>
  </section>
</article>