<div class="floating-header">
    <div class="floating-header-logo">
        <a href="{{ site.url }}{{ site.baseurl }}">
            {% if site.svglogo %}
                <img src="{{ site.baseurl }}{{ site.svglogo }}" alt="{{ site.title }} icon" />
            {% endif %}
            <span>{{ site.title }}</span>
        </a>
    </div>
    <span class="floating-header-divider">&mdash;</span>
    <div class="floating-header-title">{{ page.title }}</div>
    <div class="floating-header-share">
        <div class="floating-header-share-label">Share this {% include svgs/point.html %}</div>
        <a class="floating-header-share-tw" href="https://twitter.com/share?text={{ page.title | url_encode }}&url={{ site.url }}/{{ page.url | remove_first: '/' }}"
            onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
            {% include svgs/twitter.html %}
        </a>
        <a class="floating-header-share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}/{{ page.url | remove_first: '/' }}"
            onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
            {% include svgs/facebook.html %}
        </a>
        <a class="floating-header-share-li" href="https://www.linkedin.com/shareArticle?mini=true&title={{ page.title | url_encode }}&url={{ site.url }}/{{ page.url | remove_first: '/' }}&source={{ site.url }}"
            onclick="window.open(this.href, 'share-linkedin', 'width=550,height=550');return false;">
            {% include svgs/linkedin.html %}
        </a>
        <a class="floating-header-share-re" href="https://www.reddit.com/submit?url={{ site.url }}/{{ page.url | remove_first: '/' }}&title={{ page.title }}"
            onclick="window.open(this.href, 'share-redit', 'width=550,height=550');return false;">
            {% include svgs/reddit.html %}
        </a>
        <a class="floating-header-share-tu" href="http://www.tumblr.com/share/link?url={{ site.url }}/{{ page.url | remove_first: '/' }}"
            onclick="window.open(this.href, 'share-tumbr', 'width=550,height=550');return false;">
            {% include svgs/tumblr.html %}
        </a>
        <a class="floating-header-share-ha" href="https://news.ycombinator.com/submitlink?u={{ site.url }}/{{ page.url | remove_first: '/' }}&amp;t={{ page.title }}"
            onclick="window.open(this.href, 'share-hackernews', 'width=550,height=235');return false;">
            {% include svgs/hacker-news.html %}
        </a>
    </div>
    <progress class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>