<nav class="site-nav">
    <div class="site-nav-left">
        {% if page.current != 'home' %}
            {% if site.logo %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}"><img src="{{ site.baseurl}}{{ site.logo }}" alt="{{ site.title }}" /></a>
            {% else %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
            {% endif %}
        {% endif %}
        {% if page.navigation %}
            {% include navigation.html %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {% if site.social.facebook %}
                <a class="social-link social-link-fb" href="{{ site.social.facebook }}" target="_blank" rel="noopener">{% include svgs/facebook.html %}</a>
            {% endif %}
            {% if site.social.twitter %}
                <a class="social-link social-link-tw" href="{{ site.social.twitter }}" target="_blank" rel="noopener">{% include svgs/twitter.html %}</a>
            {% endif %}
            {% if site.social.linkedin %}
                <a class="social-link social-link-tw" href="{{ site.social.linkedin }}" target="_blank" rel="noopener">{% include svgs/linkedin.html %}</a>
            {% endif %}
            {% if site.social.github %}
                <a class="social-link social-link-tw" href="{{ site.social.github }}" target="_blank" rel="noopener">{% include svgs/github.html %}</a>
            {% endif %}
            {% if site.social.amazon %}
                <a class="social-link social-link-tw" href="{{ site.social.amazon }}" target="_blank" rel="noopener">{% include svgs/amazon.html %}</a>
            {% endif %}
            {% if site.social.docker %}
                <a class="social-link social-link-tw" href="{{ site.social.docker }}" target="_blank" rel="noopener">{% include svgs/docker.html %}</a>
            {% endif %}
            {% if site.social.instagram %}
                <a class="social-link social-link-tw" href="{{ site.social.instagram }}" target="_blank" rel="noopener">{% include svgs/instagram.html %}</a>
            {% endif %}
            {% if site.social.discogs %}
                <a class="social-link social-link-tw" href="{{ site.social.discogs }}" target="_blank" rel="noopener">{% include svgs/discogs.html %}</a>
            {% endif %}
            {% if site.social.tumblr %}
                <a class="social-link social-link-tw" href="{{ site.social.tumblr }}" target="_blank" rel="noopener">{% include svgs/tumblr.html %}</a>
            {% endif %}
            {% if site.social.spotify %}
                <a class="social-link social-link-tw" href="{{ site.social.spotify }}" target="_blank" rel="noopener">{% include svgs/spotify.html %}</a>
            {% endif %}
        </div>
        {% if site.subscribers %}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {% endif %}
    </div>
</nav>