<!-- layouts/shortcodes/inline.html -->
{{ if .Get "link" }}
    <a href="{{ .Get "link" | safeURL }}">
        <img 
            {{ with .Get "src" }} src="{{ . }}" {{ end }}
            {{ with .Get "alt" }} alt="{{ . }}" {{ end }} 
            {{ with .Get "height" }} height="{{ . }}" {{ end }} 
            style="display: inline; margin: 0px; padding: 0px;" class="no-zoom">
    </a>
{{ else }}
    <img 
        {{ with .Get "src" }} src="{{ . }}" {{ end }}
        {{ with .Get "alt" }} alt="{{ . }}" {{ end }} 
        {{ with .Get "height" }} height="{{ . }}" {{ end }} 
        style="display: inline; margin: 0px; padding: 0px;" class="no-zoom">
{{ end }}
