{{- define "main" }}

{{- if .Title }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}
<ul class="terms-tags">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    <li>
        <a href="{{ .Permalink }}" data-count="{{ $count }}">{{ .Name }} <sup><strong>{{ $count }}</strong></sup></a>
    </li>
    {{- end }}
    {{- end }}
</ul>

<script>
function adjustFontSize() {
    if (window.innerWidth > 768) { // Check for screen width
        const anchors = document.querySelectorAll('.terms-tags a');
        anchors.forEach(anchor => {
            const count = parseInt(anchor.getAttribute('data-count'));
            let fontSize = 1;
            if (count > 0 && count <= 10) {
                fontSize = 1 + count * 0.05;
            } else if (count > 10 && count <= 20) {
                fontSize = 1.5 + (count - 10) * 0.05;
            } else if (count > 20 && count <= 30) {
                fontSize = 2 + (count - 20) * 0.05;
            } else if (count > 30 && count <= 40) {
                fontSize = 2.5 + (count - 30) * 0.05;
            } else if (count > 40) {
                fontSize = 3;  // max font size
            }
            anchor.style.fontSize = fontSize + 'rem';
        });
    } else {
        const anchors = document.querySelectorAll('.terms-tags a');
        anchors.forEach(anchor => {
            anchor.style.fontSize = '1rem';  // Reset font size to base size
        });
    }
}

window.addEventListener('DOMContentLoaded', adjustFontSize);
window.addEventListener('resize', adjustFontSize);

</script>

{{- end }}{{/* end main */ -}}
