---
import { YouTube as YouTubeEmbed } from '@astro-community/astro-embed-youtube';

interface Props {
  id: string;
  params?: string;
  playlabel?: string;
}

const { id, params, playlabel } = Astro.props;
---

<div class="w-full aspect-video">
  <YouTubeEmbed id={id} params={params} playlabel={playlabel} class="w-full h-full" />
</div>

<style is:global>
  lite-youtube {
    max-width: 100% !important;
    width: 100% !important;
  }
</style>