{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- if and (gt (len $pages) 1) (in $pages . ) }}
<nav class="paginav">
  {{- with $pages.Next . }}
  <a class="prev" href="{{ .Permalink }}">
    {{- if and .Params.cover.image (or (not (isset .Params "isHidden")) (not .Params.isHidden)) }}
    <figure class="nav-cover">
        {{- $alt := (.Params.cover.alt | default .Params.cover.caption | plainify) }}
        {{- $cover := (.Page.Resources.ByType "image").GetMatch (printf "*%s*" (.Params.cover.image)) }}
        {{- if $cover -}}
            <img loading="lazy" src="{{ $cover.Permalink }}" alt="{{ $alt }}" class="cover-image"/>
        {{- else }}
            <img loading="lazy" src="{{ (.Params.cover.image) | absURL }}" alt="{{ $alt }}" class="cover-image"/>
        {{- end }}
    </figure>
    {{- end }}
    <span class="title">« {{ i18n "prev_page" }}</span>
    <br>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
  {{- with $pages.Prev . }}
  <a class="next" href="{{ .Permalink }}">
    {{- if and .Params.cover.image (or (not (isset .Params "isHidden")) (not .Params.isHidden)) }}
    <figure class="nav-cover">
        {{- $alt := (.Params.cover.alt | default .Params.cover.caption | plainify) }}
        {{- $cover := (.Page.Resources.ByType "image").GetMatch (printf "*%s*" (.Params.cover.image)) }}
        {{- if $cover -}}
            <img loading="lazy" src="{{ $cover.Permalink }}" alt="{{ $alt }}" class="cover-image"/>
        {{- else }}
            <img loading="lazy" src="{{ (.Params.cover.image) | absURL }}" alt="{{ $alt }}" class="cover-image"/>
        {{- end }}
    </figure>
    {{- end }}
    <span class="title">{{ i18n "next_page" }} »</span>
    <br>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
</nav>
{{- end }}