{{- define "main" }}

<div class="not-found-container page-404">
    <h1 class="not-found-title">404</h1>
    
    <p class="not-found-message">Oops! The page you're looking for could not be found.</p>
    
    <div class="not-found-actions">
        <a href="{{ "search" | relURL }}" class="not-found-button">Perform a search</a>
        <a href="{{ "/" | relURL }}" class="not-found-button">Visit the homepage</a>
        <a href="{{ "about" | relURL }}" class="not-found-button">Contact me</a>
    </div>
    
    <div class="popular-tags">
        <h2>Tags</h2>
        <div class="tag-cloud">
        {{- range $name, $taxonomy := .Site.Taxonomies.tags }}
            {{- $count := len $taxonomy }}
            {{- with $.Site.GetPage (printf "/tags/%s" $name) }}
                <a href="{{ .Permalink }}" class="tag">
                    {{ .Title }}
                    {{- if .Params.icon }} {{ .Params.icon | safeHTML }} {{- end }}
                    <span class="tag-count">{{ $count }}</span>
                </a>
            {{- end }}
        {{- end }}
        </div>
    </div>
</div>

{{- end }}